.main {
    display: flex;
    flex-direction: column;
}
.blocTopContainer{
    display: flex;
    justify-content: center;
    background-color: rgb(173, 216, 230);
    
}

section{
    position: relative;
    z-index: 2;
}

section .wave {
    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 100%;
    height: 70px;
    background-image: url("../img/wave.png");
    background-size: 1000px 100px;
}

section .wave.wave1 {
    animation: animate 15s linear infinite;
    opacity: 1;
}

section .wave.wave2 {
    animation: animate2 25s linear infinite;
    opacity: 0.5;
    animation-delay: -5s;
}

section .wave.wave3 {
    animation: animate3 15s linear infinite;
    opacity: 1;
    animation-delay: -2s;
}

section .wave.wave4 {
    animation: animate4 30s linear infinite;
    opacity: 0.5;
}
.botContainer {
    display: flex;
    flex-direction: column;
    background: linear-gradient(rgba(173,216,230,1), rgba(39,62,204,1), rgba(1,3,55,1));
}

.topContainer {
    display: flex;

    justify-content: center;
    flex-direction: column;
    align-self: center;
    z-index: 3;    
}

    .img {
        display: flex;
        justify-content: center;

        margin-top: 40%;
        margin-bottom: 13%;
    }

        .img img {
            border-radius: 50%;
            width: 250px;
            height: 250px;
        }

    .titre {
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-bottom: 15%;
    }

    .titleAlone {
        margin-top: 20%;
    }

        .titre h1 {
            font-size: 50px;
            text-align: center;
        }

        .titre h2 {
            text-align: center;
        }

#hrNav {
    align-self: center;
    width: 900px;
    z-index: 3;
}

.nav, .navRealisations, #btnColor{
    justify-content: center;
    z-index: 3;
}

#btnColor img {
    margin-bottom: 20%;
}

.nav a, #btnColor{
    text-decoration: none;
    color: inherit;
    font-size: 20px;
    margin-left: 2%;

    transition: transform .5s;
}

.nav a:hover, .navRealisations a:hover, #btnColor:hover{
    transform: scale(1.5);
    font-weight: 700;
    color: rgb(248, 99, 99);
}

.navRealisations a {
    text-decoration: none;
    color: inherit;
    font-size: 20px;

    transition: transform .5s;
}


.firstBlocMargin{
    margin-top: 5%;
}
.card-img {
    height: 500px;
}
.linkRealisations{
    margin-bottom: 0%;
}
.blocLinkA{
    margin-left: 8%;
}
.linkA{
    text-decoration: none;
    color: white;
}

.blocLeft {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    

    width: 700px;
    margin-left: 10%;
    margin-top: 5%;

    border-radius: 0% 20% 10% 10%;
    /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(250,250,250,1) 0%, rgba(241,253,255,1) 100%);
    box-shadow: 0px 0px 50px 15px #B7B7B7; */
}

.blocRight {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    

    width: 700px;
    margin-right: 10%;
    margin-top: 5%;

    border-radius: 20% 0% 10% 10%;
    /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(241,253,255,1) 0%, rgba(250,250,250,1) 100%);
    box-shadow: 0px 0px 50px 15px #B7B7B7; */
}

h2 {
    display: flex;
    justify-content: center;
}

#textStyle {
    font-weight: 700;
    color: rgb(248, 99, 99);
}

#hrComp{
    width: 2px;
    height: 200px;
    color: red;
}
.blocComp{
    width: 900px;
    margin: auto;
    margin-top: 5%;
}
.competences {
    display: flex;
    justify-content: center;
}
.competencesFront, .competencesBack{
    display: flex;
    align-items: center;
    width: 440px;
}
.competencesImgFront, .competencesImgBack{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: inherit;
}
.competencesImgFront img, .competencesImgBack img {
    width: 64px;
    height: 64px;
}



        
.realisationsImg {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    margin-top: 4%;
    margin-bottom: 5%;
}

.realisationsImg img {
    width: 250px;
    height: 430px;
}


.desc {
    width: 250px;
}
.desc a {
    text-decoration: none;
    color: inherit;
}

.formations {
    display: flex;
    flex-direction: column;
    margin-top: 4%;
}
.formationsP {
    padding-left: 5%;
}
.experiences {
    margin-top: 4%;
}

.botPage {
    margin-bottom: 5%;
}

.socials {
    display: flex;
    justify-content: space-around;
}

.description {
    margin-top: 5%;
}
.description p {
    font-size: 18px;
}

.description ul {
    list-style-type: circle;
}

.btnSite {
    margin-top: 2%;

    display: flex;
    justify-content: center;
}

.bubble {
    position: absolute;
    pointer-events: none;
    height: 2200px;
    width: 100%;
    background-image: url("../img/bubble.png");
    background-repeat: no-repeat;
    background-size: 80px 80px;
    opacity: 0.6;
}

.bubble1 {
    animation: bubble1 8s linear infinite;
    background-position-x: 20%;
}
.bubble2 {
    animation: bubble2 16s linear infinite;
    animation-delay: -3s;
    background-position-x: 40%;
}
.bubble3 {
    animation: bubble3 20s linear infinite;
    background-position-x: 60%;
    animation-delay: -15s;
}
.bubble4{
    animation: bubble4 14s linear infinite;
    background-position-x: 80%;
}


@keyframes bubble1 {
    0% {
        background-position-y: 2200px;
    }
    40% {
        background-position-x: 10%;
    }
    60% {
        background-position-x: 15%;
    }
    80% {
        background-position-x: 10%;
    }
    100% {
        background-position-y: 0px;
    }
}
@keyframes bubble2 {
    0% {
        background-position-y: 2200px;
    }
    50%{
        background-position-x: 30%;
    }
    100% {
        background-position-y: 0px;
    }
}
@keyframes bubble3 {
    0% {
        background-position-y: 2200px;
    }
    50%{
        background-position-x: 50%;
    }
    100% {
        background-position-y: 0px;
    }
}
@keyframes bubble4 {
    0% {
        background-position-y: 2200px;
    }
    50%{
        background-position-x: 70%;
    }
    100% {
        background-position-y: 0px;
    }
}


@media screen and (max-width : 900px){

    #hrNav {
        width: 500px;
    }
    
    .blocLeft{
        width: 500px;
    }
    
    .blocRight{
        width: 500px;
    }

    .blocComp{
        width: 300px;
        height: 300px;
    }
    #hrComp{
        height: 280px;
    }
    .competencesFront, .competencesBack{
        width: 100px;
        height: inherit;
    }
    .competencesImgFront, .competencesImgBack {
        flex-direction: column;
        align-items: center;
        height: 280px;
    }

    .competencesImgFront img, .competencesImgBack img {
        width: 52px;
        height: 52px;
    }
}

@media screen and (max-width : 650px){

    .bubble{
        height: 3000px;
    }
    
    @keyframes bubble1 {
        0% {
            background-position-y: 3000px;
        }
    }
    @keyframes bubble2 {
        0% {
            background-position-y: 3000px;
        }
    }
    @keyframes bubble3 {
        0% {
            background-position-y: 3000px;
        }
    }
    @keyframes bubble4 {
        0% {
            background-position-y: 3000px;
        }
    }
    .blocLeft {
        width: 400px;
        margin-left: 0%;
        align-self: center;
    }

    .blocRight {
        width: 400px;
        margin-right: 0%;
        align-self: center;
    }

    .realisationsImg {
        flex-direction: column;
    }

    .realisationsImg img{
        width: 240px;
        height: 350px;
    }

    .titre h2 {
        font-size: 23px;
    }

    #hrNav {
        width: 400px;
    }
}

@media screen and (max-width : 500px){

    .blocComp{
        margin-top: 0%;
        margin-bottom: 5%;
    }

    .botContainer{
        margin-top: 10%;
    }

    .nav a {
        font-size: 16px;
    }

    .competencesImg img {
        width: 54px;
        height: 44px;
    }

    .desc {
        width: 250px;
    }

    .img img {
        width: 200px;
        height: 200px;
    }

    .titre h1 {
        font-size: 30px;
    }



    .blocLeft {
        border-radius: 3%;
        width: 300px;
        margin-left: 0%;
        padding: 0%;
        margin-bottom: 5%;
    }


    .blocRight {
        border-radius: 3%;
        width: 300px;
        margin-right: 0%;
        padding: 0%;
        margin-bottom: 5%;
    }

    #hrNav {
        width: 220px;
    }
}



@keyframes animate {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: 1000px;
    }
}

@keyframes animate2 {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: -1000px;
    }
}

@keyframes animate3 {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: 500px;
    }
}

@keyframes animate4 {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: -500px;
    }
}