.main {
    display: flex;
    background-color: rgb(255, 255, 255);
    flex-direction: column;
}

.topContainer {
    display: flex;

    margin: auto;

    flex-direction: column;
    align-self: center;
}

    .img {
        display: flex;
        justify-content: center;

        margin-top: 40%;
        margin-bottom: 13%;
    }

        .img img {
            border-radius: 50%;
            width: 250px;
            height: 250px;
        }

    .titre {
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-bottom: 15%;
    }

        .titre h1 {
            font-size: 50px;
            text-align: center;
        }

        .titre h2 {
            text-align: center;
        }

hr {
    display: flex;
    align-self: center;

    width: 900px;
    
}

.nav, .navRealisations {
    display: flex;
    justify-content: center;
    
}

.nav a {
    text-decoration: none;
    color: inherit;
    font-size: 20px;
    margin-left: 2%;
}
.navRealisations a {
    text-decoration: none;
    color: inherit;
    font-size: 20px;
}


.botContainer {
    display: flex;
    flex-direction: column;
}

.blocLeft {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    

    width: 700px;
    margin-left: 10%;
    margin-top: 5%;

    border-radius: 0% 20% 10% 10%;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(250,250,250,1) 0%, rgba(241,253,255,1) 100%);
}


.Content{
    margin: auto;
    width: 600px;
}

h3 {
    display: flex;
    justify-content: center;
}

.competencesFront {
    display: flex;
    flex-direction: column;

    margin-top: 4%;
}

.competencesBack {
    display: flex;
    flex-direction: column;
}

.blocRight {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    

    width: 700px;
    margin-right: 10%;
    margin-top: 5%;

    border-radius: 20% 0% 10% 10%;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(241,253,255,1) 0%, rgba(250,250,250,1) 100%);
}

        
.realisationsImg {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    margin-top: 4%;
    margin-bottom: 5%;
}

.realisationsImg img {
    width: 250px;
    height: 430px;
}


.desc {
    width: 250px;
}
.desc a {
    text-decoration: none;
    color: inherit;
}

.formations {
    display: flex;
    flex-direction: column;
    margin-top: 4%;
}
.formationsP {
    padding-left: 5%;
}
.experiences {
    margin-top: 4%;
}

.contact {
    margin-bottom: 5%;
}

.socials {
    margin-bottom: 2%;
}

@media screen and (max-width : 900px){

    hr {
        width: 500px;
    }

    .blocLeft{
        width: 500px;
    }

    .blocRight{
        width: 500px;
    }

    .Content {
        width: 470px;
    }
}

@media screen and (max-width : 650px){

    .blocLeft {
        width: 400px;
        margin-left: 0%;
        align-self: center;
    }

    .blocRight {
        width: 400px;
        margin-right: 0%;
        align-self: center;
    }

    .Content {
        width: 350px;
    }

    .realisationsImg {
        flex-direction: column;
    }

    .realisationsImg img{
        width: 190px;
        height: 300px;
    }

    .titre h2 {
        font-size: 20px;
    }

    hr {
        width: 400px;
    }
}

@media screen and (max-width : 500px){

    .blocLeft {
        border-radius: 0% 0% 0% 0%;
    }

    .blocRight {
        border-radius: 0% 0% 0% 0%;
    }

    .desc {
        width: 200px;
    }

    .img img {
        width: 200px;
        height: 200px;
    }

    .titre h1 {
        font-size: 20px;
    }

    .titre h2 {
        font-size: 14px;
    }

    .blocLeft {
        width: 210px;
        margin-left: 0%;
        padding: 0%;
        margin-bottom: 5%;
    }

    .Content h3{
        font-size: 20px;
    }

    .blocRight {
        width: 210px;
        margin-right: 0%;
        padding: 0%;
        margin-bottom: 5%;
    }

    .Content {
        width: 200px;
    }

    hr {
        width: 220px;
    }
}