body {
    background-color: rgb(255, 255, 255);
}

.main {
    display: flex;
    flex-direction: column;
}

/* .dark-mode{
    background-color: rgb(146, 146, 146);

}

.eventOpenEye{
    display: block;
}

.eventCloseEye{
    display: none;
}

.closeEye {
    display: none;
}

button {
    border: none;
    background-color: inherit;
} */

.topContainer {
    display: flex;

    margin: auto;

    flex-direction: column;
    align-self: center;
}

    .img {
        display: flex;
        justify-content: center;

        margin-top: 40%;
        margin-bottom: 13%;
    }

        .img img {
            border-radius: 50%;
            width: 250px;
            height: 250px;
        }

    .titre {
        display: flex;
        flex-direction: column;
        align-items: center;

        margin-bottom: 15%;
    }

    .titleAlone {
        margin-top: 20%;
    }

        .titre h1 {
            font-size: 50px;
            text-align: center;
        }

        .titre h2 {
            text-align: center;
        }

#hrNav {
    display: flex;
    align-self: center;

    width: 900px;
    
}

.nav, .navRealisations, #btnColor{
    display: flex;
    justify-content: center;
    
}

#btnColor img {
    margin-bottom: 20%;
}

.nav a, #btnColor{
    text-decoration: none;
    color: inherit;
    font-size: 20px;
    margin-left: 2%;

    transition: transform .5s;
}

.nav a:hover, .navRealisations a:hover, #btnColor:hover{
    transform: scale(1.5);
    font-weight: 700;
    color: rgb(248, 99, 99);
}

.navRealisations a {
    text-decoration: none;
    color: inherit;
    font-size: 20px;

    transition: transform .5s;
}


.botContainer {
    display: flex;
    flex-direction: column;
}

.firstBlocMargin{
    margin-top: 5%;
}

.listRealisations {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 300px;

    margin-left: 1.5%;
    margin-right: 1.5%;
}
.linkRealisations{
    margin-bottom: 0%;
}
.blocLinkA{
    margin-left: 8%;
}
.linkA{
    text-decoration: none;
    color: grey;
}
.card img{

    height: 400px;
}
.blocLeft {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    

    width: 700px;
    margin-left: 10%;
    margin-top: 5%;

    border-radius: 0% 20% 10% 10%;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(250,250,250,1) 0%, rgba(241,253,255,1) 100%);
    box-shadow: 0px 0px 50px 15px #B7B7B7;
}


.Content{
    margin: auto;
    width: 600px;
}

h3 {
    display: flex;
    justify-content: center;
}

#textStyle {
    font-weight: 700;
    color: rgb(248, 99, 99);
}

#hrComp{
    width: 2px;
    height: 200px;
    color: red;
}
.blocComp{
    width: 750px;
    margin: auto;
    margin-top: 5%;
}
.competences {
    display: flex;
    justify-content: center;
}
.competencesFront, .competencesBack{
    display: flex;
    align-items: center;
    width: 360px;
}
.competencesImgFront, .competencesImgBack{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: inherit;
}
.competencesImgFront img, .competencesImgBack img {
    width: 64px;
    height: 64px;
}

.blocRight {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    

    width: 700px;
    margin-right: 10%;
    margin-top: 5%;

    border-radius: 20% 0% 10% 10%;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(241,253,255,1) 0%, rgba(250,250,250,1) 100%);
    box-shadow: 0px 0px 50px 15px #B7B7B7;
}

        
.realisationsImg {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    margin-top: 4%;
    margin-bottom: 5%;
}

.realisationsImg img {
    width: 250px;
    height: 430px;
}


.desc {
    width: 250px;
}
.desc a {
    text-decoration: none;
    color: inherit;
}

.formations {
    display: flex;
    flex-direction: column;
    margin-top: 4%;
}
.formationsP {
    padding-left: 5%;
}
.experiences {
    margin-top: 4%;
}

.botPage {
    margin-bottom: 5%;
}

.contact {
    height: 150px;
}

.socials {
    margin-top: 5%;
    margin-bottom: 2%;
    display: flex;
    justify-content: space-around;
}

.description {
    margin-top: 5%;
}

.description ul {
    list-style-type: circle;
}

.btnSite {
    margin-top: 2%;

    display: flex;
    justify-content: center;
}

@media screen and (max-width : 900px){

    #hrNav {
        width: 500px;
    }
    
    .blocLeft{
        width: 500px;
    }
    
    .blocRight{
        width: 500px;
    }
    
    .Content {
        width: 470px;
    }

    .blocComp{
        width: 300px;
        height: 300px;
    }
    #hrComp{
        height: 280px;
    }
    .competencesFront, .competencesBack{
        width: 100px;
        height: inherit;
    }
    .competencesImgFront, .competencesImgBack {
        flex-direction: column;
        align-items: center;
        height: 280px;
    }

    .competencesImgFront img, .competencesImgBack img {
        width: 52px;
        height: 52px;
    }
}

@media screen and (max-width : 650px){


    .blocLeft {
        width: 400px;
        margin-left: 0%;
        align-self: center;
    }

    .blocRight {
        width: 400px;
        margin-right: 0%;
        align-self: center;
    }

    .Content {
        width: 350px;
    }

    .realisationsImg {
        flex-direction: column;
    }

    .realisationsImg img{
        width: 240px;
        height: 350px;
    }

    .titre h2 {
        font-size: 23px;
    }

    #hrNav {
        width: 400px;
    }
}

@media screen and (max-width : 500px){

    .blocComp{
        margin-top: 0%;
        margin-bottom: 5%;
    }

    .botContainer{
        margin-top: 10%;
    }

    .nav a {
        font-size: 16px;
    }

    .competencesImg img {
        width: 54px;
        height: 44px;
    }

    .desc {
        width: 250px;
    }

    .img img {
        width: 200px;
        height: 200px;
    }

    .titre h1 {
        font-size: 30px;
    }



    .blocLeft {
        border-radius: 3%;
        width: 300px;
        margin-left: 0%;
        padding: 0%;
        margin-bottom: 5%;
    }

    .Content h3{
        font-size: 20px;
    }

    .blocRight {
        border-radius: 3%;
        width: 300px;
        margin-right: 0%;
        padding: 0%;
        margin-bottom: 5%;
    }

    .Content {
        width: 280px;
    }

    #hrNav {
        width: 220px;
    }
}